<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1058217172966-in9ucf04rk0lmvr2p7fgqj0b00o7ehcb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1058217172966-in9ucf04rk0lmvr2p7fgqj0b00o7ehcb</string>
	<key>API_KEY</key>
	<string>AIzaSyBulRLDT_66zBY0d0rRHKQ8MesVEwApgkU</string>
	<key>GCM_SENDER_ID</key>
	<string>1058217172966</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.impulse.impulseFlutterApp</string>
	<key>PROJECT_ID</key>
	<string>impulse-d9655</string>
	<key>STORAGE_BUCKET</key>
	<string>impulse-d9655.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1058217172966:ios:df8b522eb9e08dda</string>
	<key>DATABASE_URL</key>
	<string>https://impulse-d9655.firebaseio.com</string>
</dict>
</plist>